.mapcontainer-1 {
  width: 100%;
  height: 100%;
}

.mapcontainer-2 {
  width: 100%;
  height: 50%;
}

.mapcontainer-4 {
  width: 50%;
  height: 50%;
}

.grid-container {
  display: flex;
  flex-wrap: wrap; /* Para que los elementos se ajusten automáticamente cuando no haya suficiente espacio */
  justify-content: space-between; /* Para que los elementos se distribuyan uniformemente en el contenedor */
  align-items: stretch; /* Para que los elementos se estiren para ocupar toda la altura */
}

ion-toolbar {
  --background: transparent;
  --color: white;
  text-align: center;
  position: absolute;

  top: 0;
  right: 0;
  left: 0;
}

.floating-input {
  --background: transparent;
  align-items: center;

  ion-item {
    --background: transparent;
    border-radius: 10px;
    padding: 5px;
  }

  ion-input {
    --background: transparent;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 10px;
  }

  ion-select {
    color: #000000;
  }

  .floating-button {
    --background: transparent;
    border-radius: 50%;
  }
}

ion-content {
  position: relative;
  z-index: 1; /* Asegúrate de que el contenido esté detrás de la barra de herramientas */
}
