ion-content {
  --background: #e9e9e9 !important;
}

ion-item-group {
  --background: #e9e9e9 !important;
}

ion-item-divider {
  --background: #e9e9e9 !important;
}

ion-item {
  --background: #e9e9e9 !important;
}

ion-list {
  padding: 0;
  --background: #e9e9e9 !important;
}
