<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-content>
        <ion-list lines="none">
          <ion-list-header>
            Pixels Tools
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list>
          <ion-menu-toggle>
            <ion-item>
              <ion-icon slot="start" name="moon-outline"></ion-icon>
              <ion-toggle [(ngModel)]="dark">
                Dark Mode
              </ion-toggle>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <div id="container-e8334b8c32f4417179416725ccc73e7c"></div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
